<mat-card>
  <mat-card-subtitle>Option groups</mat-card-subtitle>

  <mat-card-content>
    <mat-form-field>
      <mat-label>Pokemon</mat-label>
      <mat-select [(ngModel)]="currentPokemonFromGroup">
        <mat-optgroup *ngFor="let group of pokemonGroups" [label]="group.name"
          [disabled]="group.disabled">
          <mat-option *ngFor="let creature of group.pokemon" [value]="creature.value">
            {{ creature.viewValue }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>

