<div cdkDropList id="list-root" [cdkDropListConnectedTo]="allLists" class="example-list" [cdkDropListData]="hierarchy"
  (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let item of hierarchy" cdkDrag>{{item.name}}

    <div cdkDropList id="list-{{item.key}}" [cdkDropListConnectedTo]="allLists" class="example-list"
      [cdkDropListData]="item.items" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let sub of item.items" cdkDrag>{{sub.name}}</div>
    </div>

  </div>
</div>
