<div class="basic-container">
  <ul>
    <li>Notice the original spacing between boxes. I'd expect this spacing to be preserved when items are gragged.</li>
    <li>drag boxes and see that not only boxes get right next to each other, sometimes they overlap</li>
    <li>Uncomment the cdkDragPlaceholder line and see the same issue</li>
  </ul>
  <div class="container">
    <div *ngFor="let row of layout.rows" class="row">
      <div *ngFor="let col of row.cols" [class]="col.className">
        <cdk-drop [data]="col.boxes">
          <div *ngFor="let box of col.boxes" cdkDrag class="box">
            <div *cdkDragPreview><h3>{{box.title}}</h3></div>

            <h2>{{box.title}}</h2>
            <p *ngFor="let p of box.p">{{p}}</p>
          </div>
        </cdk-drop>
      </div>
    </div>
  </div>
</div>
